/* This file is for your main application css. */
body {
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  background-color: #f0f2f2;
}

.section-white {
  background-color: #FFF;
}

.header {
  background-color: #284c6e;
  margin-bottom: 0;
}

.header a {
  color: #FFF;
}

.header a:hover, .header a:focus {
  color: #284c6e;
}

.header .nav {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

.header .fa-bars {
  font-size: 24px;
}

hr {
  color: #8573c6;
}

.btn {
  background-color: #284c6e;
  color: #FFF;
  border-radius: 50px;
  text-transform: uppercase;
  word-spacing: 2px;
}

.btn:hover, .btn:focus {
  background-color: #ddd;
  color: #284c6e;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
}

.card{
  padding: 15px;
}

.venue img {
  width: 100%;
}

.subheader {
  font-weight: bold;
  text-transform: uppercase;
  font-size: inherit;
}

.venue iframe {
  border: 1px solid #fff;
  margin-top: 10px;
  margin-bottom: 20px;
}

.smalltext{
  font-size: 12px;
}

.subtext {
  color: #999;
  font-size: 12px;
  margin: 0px;
}

.talk h2 {
  font-size: 22px;
  margin-top: 10px;
}

.card {
  border: 0;
  border-radius: 5px;
}

.action {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #284c6e;
  vertical-align: middle;
}

.action .fa-calendar-check {
  font-size: 20px;
  padding-right: 5px;
}

hr {
  border-top: 1px solid #bbb;
}

.speaker img {
  width: 100px;
}

.speaker__handle .fab {
  font-size: 15px;
  vertical-align: middle;
}

.speaker__handle {
  font-size: 12px;
  margin-bottom: 4px;
}

.speaker__link {
  margin-top: 35px;
}

.talk {
  margin-top: 20px;
}

.talk .subheader {
  margin-bottom: 14px;
}

.attendee img {
  width: 70px;
  border: 1px solid #4f235f;
}

.attendee .card {
  margin: 5px;
}

.attendee {
  text-align: center;
}

.attendee__check {
  float: left;
  position: absolute;
  top: 76px;
  left: 112px;
  color: #4f235f;
  font-size: 20px;
}

.talk__audience {
  background-color: #4B285B;
  color: #FFF;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 9px;
  font-weight: 400;
}

.dates .card {
  margin: 3px;
  font-size: 24px;
  text-transform: uppercase;
  color: #284c6e;
  border: 1px solid #284c6e;
  text-align: center;
  width: 60px;
  padding: 0;
}

.dates .card-body {
  padding: 3px;
}
