<h2>Show Location</h2>

<ul>

  <li>
    <strong>Slug:</strong>
    <%= @location.slug %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @location.name %>
  </li>

</ul>

<span><%= link "Edit", to: location_path(@conn, :edit, @location) %></span>
<span><%= link "Back", to: location_path(@conn, :index) %></span>
